@using Core.Domain.Enumerations;
@model PackageModel

@{
    ViewData["Title"] = "Edit Package";
}

<div class="container p-3 mb-3 mb-5">
    <h3 class="dgreen-bg-color text-white text-center p-2 mb-3 rounded shadow">@ViewData["Title"]</h3>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }

    <div class="lgreen-bg-color p-3 rounded shadow">
    <form asp-action="EditPackage" asp-controller="Package" method="post">

        <div class="form-group">
            @if (ViewData.ModelState.TryGetValue("Name", out var nameEntry) && nameEntry.Errors.Count > 0)
            {
                <div class="alert alert-danger mb-1 mt-2">
                    @nameEntry.Errors[0].ErrorMessage
                </div>
            }
            <label asp-for="Name">Package Name</label>
            <input asp-for="Name" class="form-control" />
        </div>

        <div class="form-group">
            @if (ViewData.ModelState.TryGetValue("SelectedProductIds", out var selectedProductIdsEntry) && selectedProductIdsEntry.Errors.Count > 0)
            {
                <div class="alert alert-danger mb-1 mt-2">
                    @selectedProductIdsEntry.Errors[0].ErrorMessage
                </div>
            }
            <label asp-for="SelectedProductIds">Select Indication of Products</label>
            <div>
                @foreach (var item in Model.AvailableProducts!)
                {
                    int productValue;
                    if (int.TryParse(item.Value, out productValue))
                    {
                        List<int> selectedProductIds = Model.SelectedProductIds;

                        <div class="checkbox custom-control custom-checkbox">
                            <label class="custom-control-label checkbox-label">
                                <input type="checkbox" name="SelectedProductIds" value="@item.Value"
                                @(selectedProductIds.Contains(productValue) ? "checked" : "") /> @item.Text
                            </label>
                        </div>
                    }
                }
            </div>
        </div>

        <div class="form-group">
            @if (ViewData.ModelState.TryGetValue("PickUpDate", out var pickUpDateEntry) && pickUpDateEntry.Errors.Count > 0)
            {
                <div class="alert alert-danger mb-1 mt-2">
                    @pickUpDateEntry.Errors[0].ErrorMessage
                </div>
            }
            <label asp-for="PickUpDate">Pick Up Date</label>
            <input type="date" asp-for="PickUpDate" class="form-control" />
        </div>

        <div class="row">
            <div class="form-group col">
                @if (ViewData.ModelState.TryGetValue("PickUpTime", out var pickUpTimeEntry) && pickUpTimeEntry.Errors.Count > 0)
                {
                    <div class="alert alert-danger mb-1 mt-2">
                        @pickUpTimeEntry.Errors[0].ErrorMessage
                    </div>
                }
                <label asp-for="PickUpTime">Pick Up From</label>
                <input type="time" step="60" asp-for="PickUpTime" class="form-control" />
            </div>

            <div class="form-group col">
                @if (ViewData.ModelState.TryGetValue("ClosingTime", out var closingTimeEntry) && closingTimeEntry.Errors.Count > 0)
                {
                    <div class="alert alert-danger mb-1 mt-2">
                        @closingTimeEntry.Errors[0].ErrorMessage
                    </div>
                }
                <label asp-for="ClosingTime">Pick Up Until</label>
                <input type="time" step="60" asp-for="ClosingTime" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            @if (ViewData.ModelState.TryGetValue("Price", out var priceEntry) && priceEntry.Errors.Count > 0)
            {
                <div class="alert alert-danger mb-1 mt-2">
                    @priceEntry.Errors[0].ErrorMessage
                </div>
            }
            <label asp-for="Price"></label>
            <input asp-for="Price" class="form-control" />
        </div>

        <div class="form-group">
            @if (ViewData.ModelState.TryGetValue("Type", out var typeEntry) && typeEntry.Errors.Count > 0)
            {
                <div class="alert alert-danger mb-1 mt-2">
                    @typeEntry.Errors[0].ErrorMessage
                </div>
            }
            <label asp-for="Type">Package Type</label>
            <select asp-for="Type" class="form-control">               
                <option value="@PackageEnum.Snack">Snack</option>
                <option value="@PackageEnum.Lunch">Lunch</option>
                @if (Model.MyCanteenOffersDinners)
                {
                    <option value="@PackageEnum.Dinner">Dinner</option>
                }
                <option value="@PackageEnum.Beverage">Beverage</option>
            </select>

        </div>

        <button type="submit" class="btn btn-green-color card-text px-4 me-sm-3 text-white">Edit</button>

    </form>
    </div>
</div>
