@using Portal.ExtensionMethods;
@using Core.Domain.Entities;
@using Core.Domain.Enumerations;

@model AllPackagesModel

@{
    ViewData["Title"] = "My Reservations";
    var role = this.User.GetRole();
}

<div class="container p-3 mb-3">
    <h3 class="dgreen-bg-color text-white text-center p-2 mb-3 rounded shadow">@ViewData["Title"]</h3>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }

    @if (Model.Packages != null && Model.Packages.Count() > 0)
    {

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            @foreach (Package p in Model.Packages)
            {
                <div class="col mb-4">
                    <div class="card shadow h-100">
                        <!-- Package image -->
                        @if (p.Type == PackageEnum.Snack)
                        {
                            <img class="card-img-top package-image" src="https://www.snackweetjes.nl/wp-content/uploads/2016/03/frituur-snacks.png" alt="Package Image Snacks" />
                        }
                        @if (p.Type == PackageEnum.Beverage)
                        {
                            <img class="card-img-top package-image" src="https://i.pinimg.com/564x/79/6c/34/796c34906c9111f02f41a319298a261b.jpg" alt="Package Image Beverages" />
                        }
                        @if (p.Type == PackageEnum.Lunch)
                        {
                            <img class="card-img-top package-image" src="https://hips.hearstapps.com/hmg-prod/images/sandwich-ideas-646b8fd98d9cd.jpeg" alt="Package Image Lunch" />
                        }
                        @if (p.Type == PackageEnum.Dinner)
                        {
                            <img class="card-img-top package-image" src="https://myplate-prod.azureedge.us/sites/default/files/styles/recipe_525_x_350_/public/2020-11/SkilletPastaDinner_527x323.jpg?itok=Yb4EDdkm" alt="Package Image Dinner" />
                        }

                        <div class="card-body d-flex flex-column h-100">

                            <!-- Type of Package -->
                            <div style="min-content;">
                                <div class="badge dgreen-bg-color bg-gradient rounded-pill">@p.Type</div>
                            </div>
                            <!-- Package Name -->
                            <h5 class="card-title pb-2 pt-2">@p.Name</h5>

                            <!-- Pickup Info -->
                            <div class="row">
                                <p class="card-text col">
                                    <span class="icon-bg"><i class="bi bi-calendar-week-fill"></i></span> @p.PickUp.ToString("dd-MM-yyyy")
                                </p>
                                <p class="card-text col">
                                    <span class="icon-bg"><i class="bi bi-clock-fill"></i></span> @p.PickUp.ToString("HH:mm")-@p.ClosingTime.ToString("HH:mm")
                                </p>
                            </div>

                            <!-- Price and canteen -->
                            <div class="row">
                                <p class="card-text col">
                                    <span class="icon-bg"><i class="bi bi-currency-euro"></i></span> €@p.Price
                                </p>
                                <p class="card-text col">
                                    <span class="icon-bg"><i class="bi bi-geo-alt-fill"></i></span> @p.Canteen,
                                    @if (Model.CanteenToCityMapping.ContainsKey(p.Canteen.Value))
                                    {
                                        <span class="ml-2">@Model.CanteenToCityMapping[p.Canteen.Value]</span>
                                    }

                                </p>
                            </div>

                                <div class="lgreen-bg-color rounded p-3 flex-fill shadow">
                                    <p class="card-text">Possible products:</p>
                                    <ul>
                                        @foreach (Product product in p.Products)
                                        {
                                            <li>@product.Name</li>
                                        }
                                    </ul>
                                </div>                         

                        </div>

                        <div class="card-footer bg-transparent border-top-0 row mb-2">
                            <!-- "Package Details" link -->
                            <div class="col-12">
                                <a class="btn btn-custom btn-green-color text-white card-text" asp-action="PackageDetails" asp-controller="Package" asp-route-id="@p.Id">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    } 
    else
    {
        <p class="text-center">You currently don't have any reservations. Check out <a class="link" asp-action="AvailablePackages" asp-controller="Package">available packages</a> and make a reservation.</p>
    }
</div>
