@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="container p-3 mb-3">

    <h3 class="dgreen-bg-color text-white text-center p-2 mb-3 rounded shadow">@ViewData["Title"]</h3>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }

    <div class="lgreen-bg-color p-3 rounded shadow">

    <form asp-action="Login" asp-controller="Account" method="post">
        <input type="hidden" asp-for="ReturnUrl" value="@Model.ReturnUrl" />

        <div class="form-group">
            @if (ViewData.ModelState.TryGetValue("UserId", out var idEntry) && idEntry.Errors.Count > 0)
            {
                <div class="alert alert-danger mb-1 mt-2">
                    @idEntry.Errors[0].ErrorMessage
                </div>
            }
            <label asp-for="UserId"></label>
            <input asp-for="UserId" class="form-control" />
        </div>

        <div class="form-group">
            @if (ViewData.ModelState.TryGetValue("Password", out var pwdEntry) && pwdEntry.Errors.Count > 0)
            {
                <div class="alert alert-danger mb-1 mt-2">
                    @pwdEntry.Errors[0].ErrorMessage
                </div>
            }
            <label asp-for="Password"></label>
            <input type="password" asp-for="Password" class="form-control" />
        </div>

        <button type="submit" class="btn btn-green-color card-text px-4 me-sm-3 text-white">Login</button>
    </form>


    <p>Don't have an account? 
        <a class="link" asp-action="StudentRegister" asp-asp-controller="Account"> Register as student</a> or
        <a class="link" asp-action="EmployeeRegister" asp-controller="Account">register as employee</a>
    </p>
    </div>

</div>